name: CI

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build_n_test:
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout repository'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: 'Set up JDK 1.8'
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: 'Coursier cache'
      uses: coursier/cache-action@v5
      with:
        extraKey: ${{ runner.os }}-coursier-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

    - name: 'Compile'
      run: 'sbt -J-Dscalafix.disable=true test:compile'

    - name: 'Check code quality' # TODO: Separate job
      run: |
        sbt ';warn ;scalafixAll -check ;scalafmtCheckAll ;scapegoat'

    - name: 'Run core tests'
      run: sbt +core/testOnly
      # TODO: core/target/test-reports/TEST-*.xml

    - name: 'Run SBT plugin tests'
      run: |
        sbt -J-Dscala-ts.sbt-test-temp=/tmp/sbt-scala-ts/ ';error ;+publishLocal ;++2.12.16 ;^scripted'

    - name: 'Set up Node'
      uses: actions/setup-node@v1
      with:
        node-version: '12'

    - name: 'Compile generated TypeScript from SBT scripted tests'
      run: |
        cp sbt-plugin/src/node/*.* /tmp/sbt-scala-ts/
        cd /tmp/sbt-scala-ts/
        find . -type f -name '*.ts' -print
        npm ci
        npm run build

    - name: 'Run TypeScript tests'
      run: |
        cd /tmp/sbt-scala-ts/
        npm run test
        export TD="$OLDPWD/sbt-plugin/target"
        test -d "$TD" || mkdir -p "$TD"
        cp junit.xml "$TD/junit.xml"

    - name: 'Publish snapshot (master)'
      if: ${{ github.ref == 'refs/heads/master' }}
      env:
        PUBLISH_REPO_ID: "oss.sonatype.org"
        PUBLISH_REPO_URL: "https://oss.sonatype.org/content/repositories/snapshots"
        PUBLISH_REPO_NAME: "Sonatype Nexus Repository Manager"
        PUBLISH_USER: ${{ secrets.SONATYPE_USER }}
        PUBLISH_PASS: ${{ secrets.SONATYPE_PASSWORD }}
      run: sbt ';error ;+core/publish ;^sbt-plugin/publish'
